{{> header}}

<section class="hero is-primary">
  <div class="hero-body">

      <h1 class="title">
        SHORTSS
      </h1>
      <h2 class="subtitle">
        SHORTSS is a bookmark and url shortener service
      </h2>

  </div>
</section >
<section class="section">
  <div class="container">
    <h3 class="title">How it works?</h3>

    <p><b>SHORTSS</b> allows you to save links and share them</p>
    <p><b>SHORTSS</b> shortens links and provides a convenient interface for managing saved links</p>

    <hr />

    <h3 class="title">Easy steps to use it</h3>

    <ol>
      <li>
        <a href="login">Log in</a> or <a href="register">Register</a>
      </li>
      <li>
        Add a link and give it a short description (or do not give it)
      </li>
      <li>
        Share your link
      </li>
    </ol>

  </div>
</section>

{{> footer}}
