{{> header}}
<section class="section">
<div class="container">


<div class="columns">
  <div class="column"></div>
  <div class="column">
    <div class="box has-text-centered">
      <form action="register" method="post">
        <div class="field">
          <label class="label">E-mail</label>
          <p class="control">
            <input class="input" type="email" name="email" required />
          </p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" required />
          </p>
        </div>
        <div class="field">
          <label class="label">Repeat password</label>
          <p class="control">
            <input class="input" type="password" name="repeat" required />
          </p>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="column"></div>
</div>


</div>
</section>
{{> footer}}
